@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;

  /* Paleta de Cores */
  --color-preto-profundo: #0a0a0a; /* Fundo principal, textos, headers */
  --color-cinza-carvao: #2c2c2c; /* Backgrounds secundários, blocos */
  --color-bege-natural: #d9cbb6; /* Fundo, detalhes, espaço de respiro */
  --color-branco-lavado: #f5f5f5; /* Texto secundário, fundos claros */
  --color-verde-oliva-suave: #65703d; /* Detalhes, botões, hover states */
  --color-vinho-escuro: #6c2d3f; /* Elementos de destaque, links */
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-playfair: var(--font-playfair);
  --color-preto-profundo: var(--color-preto-profundo);
  --color-cinza-carvao: var(--color-cinza-carvao);
  --color-bege-natural: var(--color-bege-natural);
  --color-branco-lavado: var(--color-branco-lavado);
  --color-verde-oliva-suave: var(--color-verde-oliva-suave);
  --color-vinho-escuro: var(--color-vinho-escuro);
}
